<!-- Footer -->
<footer class="page-footer blue font-small pt-3">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-4 ocultar-movil pt-2" style="border-right: 2px #fff solid;">
        <div class="row">
          <div class="col-7 col-sm-6 col-md-6 col-lg-7 pt-2 pl-2">
            <img src="./../../../assets/logos/ph.png" style="width: 80%;" class="ml-3" alt="">
          </div>
          <div class="col-5 col-sm-6 col-md-6 col-lg-5 pt-1">
            <div class="mb-0 w-100">www.lph.mx</div>
            <div class="w-100">ohernandez@lph</div>
          </div>
        </div>
      </div>
      <div class="col-4 pt-1 ocultar-movil" style="border-right: 2px #fff solid;">
        <div class="row">
          <div class="col-2 col-sm-2 col-md-1 col-lg-2 pt-2">
            <img src="./../../../assets/logos/zarp.png" style="width: 90%;" alt="">
          </div>
          <div class="col-lg-9 col-md-10 pt-1">
            <p class="mb-0 w-100">www.zarpproductions.com</p>
            <p class="w-100">contacto@zarpproductions.com</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <img src="./../../../assets/logos/exdipa-letra.png" style="width: 15%;margin-top: -5px;" alt="">
        <p class="mb-0 link w-100">Galeria</p>
        <p class="mb-0 link w-100">Politicas de privacidad</p>
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->
<!--
<img src="./assets/logos/zarp.png" class="img-fluid ml-5 zarp" alt="www.zarpproductions.com">
<p class="ml-5"><a target="_blank" href="https://www.zarpproductions.com">www.zarpproductions.com</a>
  <a class="ml-5" href="mailto:contacto@zarpproductions.com">Email: contacto@zarpproductions.com</a></p>

<img src="./assets/logos/ph.png" class="img-fluid ml-5" alt="www.lph.mx">
<p class="ml-5"><a target="_blank" href="https://www.lph.mx/">www.lph.mx</a>
  <a class="ml-5" href="mailto:contacto@zarpproductions.com"> Email: ohernandez@lph.mx</a></p>
-->