<!-- Footer -->
<footer class="page-footer font-small mdb-color darken-3 pt-4 posicion">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-6 mt-md-0 mt-2">
        <div class="row">
          <div class="col-3">
            <img src="./assets/logos/zarp.png" class="img-fluid ml-5 zarp" alt="www.zarpproductions.com">
            <a target="_blank" href="https://www.zarpproductions.com">www.zarpproductions.com</a><br>
            <a href="mailto:contacto@zarpproductions.com">contacto@zarpproductions.com</a>
          </div>
          <div class="vl"></div>
          <div class="col-2">
            <img src="./assets/logos/ph.png" class="img-fluid ml-5 mt-3" alt="www.lph.mx">
            <a class="ml-5" target="_blank" href="https://www.lph.mx/">www.lph.mx</a>
            <br>
            <a class="ml-5" href="mailto:contacto@zarpproductions.com">ohernandez@lph.mx</a>
          </div>
        </div>
      </div>
      <div class="col-1"><img src="./assets/logos/LogoEXDIPA.png" class="img-fluid float-right exdipa" alt="exdipa">
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a [routerLink]="['nosotros']">Nosotros</a>
          </li>
          <li>
            <a [routerLink]="['instructivo']">Información</a>
          </li>
          <li>
            <a [routerLink]="['galeria']">Galeria</a>
          </li>
          <li>
            <a>Politicas de Privacidad</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<!--
<img src="./assets/logos/zarp.png" class="img-fluid ml-5 zarp" alt="www.zarpproductions.com">
<p class="ml-5"><a target="_blank" href="https://www.zarpproductions.com">www.zarpproductions.com</a>
  <a class="ml-5" href="mailto:contacto@zarpproductions.com">Email: contacto@zarpproductions.com</a></p>

<img src="./assets/logos/ph.png" class="img-fluid ml-5" alt="www.lph.mx">
<p class="ml-5"><a target="_blank" href="https://www.lph.mx/">www.lph.mx</a>
  <a class="ml-5" href="mailto:contacto@zarpproductions.com"> Email: ohernandez@lph.mx</a></p>
-->
