<video autoplay muted loop id="myVideo">
  <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

<div class="content">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-10"><img src="./assets/logos/exdipa-letra.png" class="img-fluid float-right" alt="exdipa">
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-8"><h2 class="mr-5">La Mayor Expo Virtual en el Mundo!</h2>
      <button type="button" class="btn-sm btn-warning"><i class="fa fa-sign-in" aria-hidden="true"></i> REGISTRARSE
      </button>
      <button type="button" class="ml-1 btn-sm btn-info"><i class="fa fa-windows" aria-hidden="true"></i> DESCARGAR
        WINDOWS
      </button>
      <button type="button" class="ml-1 btn-sm btn-info"><i class="fa fa-apple" aria-hidden="true"></i> DESCARGAR MAC
      </button>
    </div>
  </div>
</div>
