<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
  <a class="navbar-brand" href="#"><strong></strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mt-5" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="changeColor()" [routerLink]="['inicio']">INICIO <span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeColor()" [routerLink]="['nosotros']">NOSOTROS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeColor()" [routerLink]="['instructivo']">INFORMACIÓN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeColor()" [routerLink]="['galeria']">GALERIA</a>
      </li>
    </ul>
  </div>
</nav>
